.vs/
[Bb]in/
[Oo]bj/
x64/
x86/
*.user
*.suo

bin/
obj/

PantryChef.Web/wwwroot/lib/

*.log

*.vspscc
*.vssscc
.vscode/

packages/
*.nupkg
*.snupkg

.env
.env.*

project.lock.json
project.fragment.lock.json
artifacts/

publish/

appsettings.json
appsettings.Development.json