@{
    ViewData["Title"] = "Головна";
}

<div class="text-center mt-5">
    <h1 class="display-4 fw-bold text-success">Вітаємо у PantryChef!</h1>
    <p>Ваш розумний Шеф-кухар комори.</p>

    <a asp-controller="Recipe" asp-action="Index" class="btn btn-success mt-3 px-4 py-2 rounded-pill">
        Перейти до каталогу страв
    </a>
</div>